apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: podinfo
  namespace: cluster-config
spec:
  chart:
    spec:
      version: "6.3.6"
  values:
    color: blue
    ui:
      color: blue
    ingress:
      enabled: true
      annotations:
        kubernetes.io/ingress.class: nginx    
      hosts:
        - host: 
          paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: podinfo
                port:
                  number: 80         
        # - host: 
        #   paths:
        #     - path: /
        #       pathType: ImplementationSpecific
        #     backend:
        #       service:
        #         name: podinfo
        #         port:
        #           number: 80